<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taskii - Signup/Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="wrapper">
    <div class="form signup">
      <header>Signup</header>
      <form method="POST" action="{{ url_for('login_signup') }}">
        <input type="hidden" name="submit_type" value="signup">
        <input type="text" name="username" placeholder="Username" required />
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <div class="checkbox">
          <input type="checkbox" id="remember" name="remember" />
          <label for="remember">Remember me</label>
        </div>
        <input type="submit" value="Signup" />
        <p>Already have an account? <a href="#" class="login-link">Login</a></p>
      </form>

    </div>
    <div class="form login">
      <header>Login</header>
      <form method="POST" action="{{ url_for('login_signup') }}">
        <input type="hidden" name="submit_type" value="login">
        <input type="text" name="username" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <div class="checkbox">
          <input type="checkbox" id="remember" name="remember" />
          <label for="remember">Remember me</label>
        </div>
        <input type="submit" value="Login" />
        <p>Don't have an account? <a href="#" class="signup-link">Signup</a></p>
      </form>
      
    </div>
  </div>
  <script>
    const wrapper = document.querySelector(".wrapper"),
          signupHeader = document.querySelector(".signup header"),
          loginHeader = document.querySelector(".login header");

    loginHeader.addEventListener("click", () => {
      wrapper.classList.add("active");
    });

    signupHeader.addEventListener("click", () => {
      wrapper.classList.remove("active");
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
